.App {
  border: 3px solid #ccc;
  border-radius: 20px;

  width: 700px;
  margin: 20px;
  padding: 20px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 41px;
  background-color: #888;
  border-radius: 30px;
}

/* After slide changes */
.toggle:after {
  content: "";
  position: absolute;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: white;
  top: 0.5px;
  left: 1px;
  bottom: 0.5px;
  transition: all 0.5s;
}

/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
  left: 49px;
}

/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
  background-color: #ffc40c;
}

/* Checkbox vanished */
.checkbox {
  display: none;
}
